# Nome do projeto.
PROJECT_NAME=assistente_notas

# Ativar para testar a ligação à base de dados no arranque.
APP_TESTAR_BD_NO_ARRANQUE=false

# Caminhos opcionais para dados locais.
DATA_DIR=data
EXCEL_DIR=data/excel
MPR_DIR=data/mpr
LOGS_DIR=logs

# Configuração do MySQL.
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=assistente_notas
MYSQL_USER=root
MYSQL_PASSWORD=senha_forte
