# Ambientes virtuais
.venv/
venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Logs
logs/*.log

# Dados locais de teste
data/excel/*.xlsx
data/excel/*.xlsm
data/excel/*.xls
data/mpr/*.mpr
*.xlsx
*.xlsm
*.xls
*.mpr

# Sistema operativo
Thumbs.db
Desktop.ini
